@model IEnumerable<CourseSemesterMenuItemViewModel>

@foreach (var menuItem in Model)
{
    if (menuItem.IsSelected)
    {
        <option value="@menuItem.Id" selected>@menuItem.Name</option>
    }
    else
    {
        <option value="@menuItem.Id">@menuItem.Name</option>
    }
}