@model CourseEditBindingModel
@{
    ViewData["Title"] = "Edit Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="container-fluid">
    <div class="">
        <form asp-action="Edit" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="display:none">
                <input asp-for="Id" />
            </div>
            <div style="display:none">
                <input asp-for="HeadTeacherId" />
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group w-50">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Aims" class="control-label"></label>
                    <textarea asp-for="Aims" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Aims" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="form-group col-6 mx-auto">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mx-auto">
                    <label asp-for="SemesterId" class="control-label"></label>
                    <select asp-for="SemesterId" class="form-control mdb-select">
                        <option value="" disabled>Choose semester</option>
                        <vc:semesters-dropdown semester-id="@Model.SemesterId"></vc:semesters-dropdown>
                    </select>
                    <span asp-validation-for="SemesterId" class="text-danger"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Room" class="control-label"></label>
                    <input asp-for="Room" class="form-control" />
                    <span asp-validation-for="Room" class="text-danger"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Language" class="control-label"></label>
                    <input asp-for="Language" class="form-control" />
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mx-auto">
                    <label asp-for="ExamType" class="control-label"></label>
                    <input asp-for="ExamType" class="form-control" />
                    <span asp-validation-for="ExamType" class="text-danger"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Requirements" class="control-label"></label>
                    <input asp-for="Requirements" class="form-control" />
                    <span asp-validation-for="Requirements" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mx-auto">
                    <label asp-for="Certificate" class="control-label"></label>
                    <input asp-for="Certificate" class="form-control" />
                    <span asp-validation-for="Certificate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <a asp-area="Education" asp-controller="Courses" asp-action="Index" class="btn btn-primary">Back</a>
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>